table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btns-container{
    display: flex;
    align-items: center;
  }

  .del-btn-styles{
    background-color: #ff4a4a;
    color: #fff;
    border: none;
    width: 60px;
    padding: 7px 0;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 12px;
  }

  .edit-btn-styles{
    background-color: #fff;
    color: #2243b6;
    border: 1px solid #2243b6;
    width: 60px;
    padding: 5px 0;
    border-radius: 3px;
    cursor: pointer;
  }

  .table-styles{
    width: 500px;
  }

  .btn-td-container{
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .save-btn{
    background-color: #2243b6;
    color: #fff;
    border: none;
    padding:10px 0;
    border-radius: 3px;
    margin-top: 1rem;
  }

  .edit-modal-label-styles{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 10px;
  }

  .edit-user-details-input{
    padding: 5px;
  }

  .close-styles{
    margin: 0;
    padding: 0;
    text-align: end;
    color: red;
    font-size: 14px;
    cursor: pointer;
  }

  .edit-box{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 400px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 3px;
    min-height: 60vh;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(148,148,148,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(148,148,148,1);
    box-shadow: 0px 0px 8px 0px rgba(148,148,148,1);
  }




  @media screen and (max-width: 900px) {
    .btns-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .del-btn-styles{
        margin-right: 10px;
        margin-top: 5px;
      }
       .table-styles{
        width: 100%;
      }

      .edit-box{
        width:90%;
      }
  }